*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.App {
  margin: 0 auto;
  max-width: 1440px;
  height: 900px;
  background: rgba(255, 254, 251, 0.8);

  .Header {
    display: flex;
    justify-content: space-between;
    padding: 32px 32px 16px 32px;
    align-items: center;

    .Header-add {
      .Header-add__title {
        font-family: Source Sans Pro, sans-serif;
        font-weight: 600;
        font-size: 28px;
        color: #3F3F3F;
      }
    }

    .Header-contol{
      .Header-contol__select{
        width: 122px;
        height: 36px;
        font-family: Source Sans Pro, sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 15px;
        color: #B4B4B4;
        padding: 10px 0 10px 16px;
        background: url("img/arrow_custom.png") no-repeat right #FFFEFB;
        background-position-x: calc(100% - 13px);
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        border-radius: 4px;
        border: none;
        outline: none;
        appearance: none;
      }
  }
  }

  .Content{
    display: flex;

    .Content-form{
      width: 332px;
      min-height: 440px;
      background: #FFFEFB;
      box-shadow: 0 20px 30px rgba(0, 0, 0, 0.04), 0 6px 10px rgba(0, 0, 0, 0.02);
      border-radius: 4px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: left !important;
      padding: 8px 24px;

      .Content-form__name{
        display: flex;
        width: 100%;
        font-family: Source Sans Pro,sans-serif;
        font-weight: 300;
        font-size: 10px;
        line-height: 13px;
        letter-spacing: -0.02em;
        color: #49485E;
        margin: 16px 0 4px 0;
        text-align: left;
      }
      .circle{
        margin-left: 2px;
        width: 4px;
        height: 4px;
        background: #FF8484;
        border-radius: 4px;
      }

      .form__input{
        width: 284px;
        height: 36px;
        background: #FFFEFB;
        box-sizing: border-box;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        border-radius: 4px;
        font-family: Source Sans Pro, sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 15px;
        color: #B4B4B4;
        border: none;
        padding: 10px 16px;
      }

      .form__area{
        width: 284px;
        height: 108px;
        background: #FFFEFB;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        border-radius: 4px;
        border: none;
        resize: none;
        padding: 10px 16px;
        font-weight: 300;
        font-size: 12px;
        line-height: 15px;
        color: #B4B4B4;
      }

      .form__error{
        width: 100%;
        //margin-top: 5px;
        font-family: Source Sans Pro, sans-serif;
        font-weight: 300;
        font-size: 8px;
        line-height: 10px;
        letter-spacing: -0.02em;
        color: #FF8484;
      }

      .Content-form__btn{
        margin: 24px 0;
        width: 284px;
        height: 36px;
        background: #EEEEEE;
        border-radius: 10px;
        font-family: Inter, sans-serif;
        font-weight: 600;
        font-size: 12px;
        line-height: 15px;
        text-align: center;
        letter-spacing: -0.02em;
        color: #B4B4B4;
        outline: none;
        border: none;

        &:hover{
          background: #FF8484;
          cursor: pointer;
          color: #000;
        }
      }

    }

    .Content-item{
      display: flex;
      flex-wrap: wrap;

      .Content-product{
        position: relative;
        width: 332px;
        height: 423px;
        background: #FFFEFB;
        box-shadow: 0 20px 30px rgba(0, 0, 0, 0.04), 0 6px 10px rgba(0, 0, 0, 0.02);
        border-radius: 4px;
        margin: 16px;
        transform: translateY(0);
        transition: ease-in-out 0.3s;
        &:hover{
          transform: translateY(-10px);
          cursor: url("./img/hover.png")2 2, pointer;
        }

        .Content-product__img{
          width: 332px;
          height: 200px;
          border-radius: 4px 4px 0 0;
          background-position: center;
          background-size: cover;
        }

        .Content-product__title{
          font-family: Source Sans Pro,sans-serif;
          font-weight: 600;
          font-size: 20px;
          color: #3F3F3F;
          padding: 16px;
        }
        .Content-product__desc{
          font-family: Source Sans Pro, sans-serif;
          font-weight: 300;
          font-size: 16px;
          color: #3F3F3F;
          padding: 0 16px 32px 16px;
        }

        .Content-product__cost{
          font-family: Source Sans Pro,sans-serif;
          font-weight: 600;
          font-size: 24px;
          line-height: 30px;
          color: #3F3F3F;
          padding: 0 16px;
        }

        .Content-product__del{
          position: absolute;
          top: -10px;
          right: -10px;
          border:none;
          background:  #FF8484;
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
          border-radius: 10px;
          width: 32px;
          height: 32px;
          &:hover{
            cursor: pointer;
            transform: scale(1.1);
            background: #49485E;
          }
        }
      }
    }
  }
}